{% macro loop(pages, class) %}
    {% for page in pages.children.visible %}
        {% set current_page = (page.active or page.activeChild) ? 'is-active' : '' %}
        <a class="nav-item {{ class }} {{ current_page }}" href="{{ page.url }}">
            {{ page.menu }}
        </a>
    {% endfor %}
{% endmacro %}

<nav class="nav has-shadow">
    <div class="nav-left">
        <a class="nav-item nav-logo" href="{{ base_url == '' ? '/' : base_url }}">
            <img src="{{ url('theme://images/logo.png') }}" alt="Skarb Mandriv logo">
        </a>

        <!-- This menu is hiden on mobile -->
        {{ _self.loop(pages, "is-hidden-mobile") }}
    </div>

    <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
    <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
    </span>

    <div class="nav-right nav-menu">
        <!-- This menu is visible only on mobile -->
        {{ _self.loop(pages, "is-hidden-tablet") }}
    </div>
</nav>